<!doctype html>
<html>
  <head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <link rel="me" href="http://www.google.com/profiles/ericboehs">
    <%# <link rel="author" type="text/plain" href="/humans.txt"> %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:site_name" content="ericboehs.com">

    <title><%= current_page.data.title || "Eric Boehs" %></title>
    <%= stylesheet_link_tag "all" %>
  </head>

  <body class="<%= page_classes %>">
    <header>
      <h1><a href="/" rel="home">Eric Boehs</a></h1>
    </header>
    <section class="home">
      <% if current_article %>
        <h1 class="post-title"><%= current_article.title %></h1>
        <p><%= current_article.date.strftime('%b %e, %Y') %></p>
        <article class="post">
          <%= yield %>
        </article>
        <p><a href="/">Home</a></p>
      <% else %>
        <%= yield %>
      <% end %>
    </section>
    <footer>
      <p>
        <a href="mailto:ericboehs+hire@gmail.com">Hire me</a> for Ruby, Web and iOS development<br>I love integrating with hardware too<br>
        <a href="http://github.com/ericboehs">github/ericboehs</a> | <a href="http://twitter.com/ericboehs">twitter/ericboehs</a>

      </p>
    </footer>
    <%= javascript_include_tag "all" %>
    <script>hljs.initHighlightingOnLoad()</script>
    <%#TODO: Add google analytics %>
  </body>
</html>
